@page "/contact"

<PageTitle Title="Contact" />
<br>
<div id="#contactDetailsBody">
    <i class="fas fa-map-marker-alt"></i>
    <span class="m12"><span hidden>Address: </span>Espanstrasse 78, 90765 Fürth
        (Germany)</span>
    <br>
    <br>
    <i class="fas fa-mobile-alt"></i>
    <span class="m12"><span hidden>Mobile phone: </span>+49 (0)1522 360 82 78</span>
    <br>
    <br>
    <i class="fas fa-envelope"></i>
    <span class="m12"><span hidden>Email: </span>bartvanhoey@hotmail.com</span>
    <br>
    <br>
    <i class="fas fa-link"></i>
    <a href="https://bartvanhoey.github.io/" class="m12">bartvanhoey.github.io</a>
    <br>
    <br>
</div>
<div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US"
    data-type="horizontal" data-theme="dark" data-vanity="bartvanhoey-dotnet-developer"><a
        class="LI-simple-link"
        href='https://be.linkedin.com/in/bartvanhoey-dotnet-developer?trk=profile-badge'>Bart
        Van Hoey</a></div>
<br>
@* <div class="d-lg-none">
    <button class="btn btn-dark btn-sm btn-block" id="btnGeneratePdf"
        onclick="generatePdf()">Generate Curriculum</button>
</div>
<div class="d-none d-lg-block">
    <button class="btn btn-dark btn-sm" onclick="generatePdf()">Generate
        Curriculum</button>
</div> *@