@inherits TemplatedListBase<TItem> 
@typeparam TItem 

@if (items == null)
{
  @Loading
}
else if (!items.Any())
{
  @Empty
}
else
{
    <div class="list-group @ListGroupClass">
        @foreach (var item in items)
        {
            <div class="list-group-item">
              @Item(item)        
            </div>
            <br>
        }
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

}