@inherits TemplatedListBase<TItem> 
@typeparam TItem 

<div class="col-md-6 offset-md-3 mb-3">

@if (items == null)
{
  @Loading
}
else if (!items.Any())
{
  @Empty
}
else
{
    <div class="list-group @ListGroupClass">
        @foreach (var item in items)
        {
            <div class="list-group-item rounded-border">
              @Item(item)        
            </div>
            <br>
        }
    </div>
    <br>
    <br>
    <br>
    <br>

}
</div>