@page "/"

<PageTitle Title="About Me" />
<br>
<div class="row">
  <div class="col-md-3 mb-3">
    <div class="profile-image text-center mx-auto">
        <img src="\img\bartvanhoey-175x175.png" alt="Bart Van Hoey" class="rounded">
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <p>
      In 2015 I obtained an <a href="https://www.mobyus.be/nl/graduaten/informatica">Informatics Associate Degree</a> at UC Leuven-Limburg (Belgium) 
    </p>
    <p>
      In the same year I started to work in <em>a small company with startup mindset</em> where I took part in the rewrite of an AngularJS web application.
    </p>
    <p>
      The back-end is written in the latest .NET Core version and <a href="http://aurelia.io/docs/">Aurelia</a> has been chosen over <a href="https://angular.io/">Angular</a> as front-end UI framework.
    </p>
    <p>
      I am used to work with <a href="https://about.gitlab.com/">GitLab</a> as Continuous Integration, Deployment & Release tool and have also some experience with Azure Devops.
    </p>
    <p>
      <em>JetBrains Rider</em>, <em>VsCode</em> and <em>Visual Studio 2019 Professional</em> are my favorite IDEs and I try to write as much <a href="https://www.youtube.com/watch?v=5koPpYVa020">clean code</a> as possible by hitting ALT+ENTER all the time!
    </p>
    <p>
      On a daily basis I worked with <a href="https://en.wikipedia.org/wiki/Document-oriented_database">document databases</a> as most of the data is persisted as NoSQL. Another part of the data is stored in SQL Server and accessed by means of EntityFramework or Dapper.
    </p>
    <p>
      To keep up with the latest <em>Software Technologies</em> and <em>to become a better programmer</em> I watched a lot <a href="https://www.youtube.com/c/Csharp-video-tutorialsBlogspot/featured" target="_blank">online tutorials</a> from <em>PragimTechnologies</em> which I would recommend to every developer!
    </p>
    <p>
      As a side project I created <a href="https://marketplace.visualstudio.com/items?itemName=BartVanHoey.blazory">Blazory</a>, a VsCode extension available on the <a href="https://marketplace.visualstudio.com/vscode">Visual Studio Marketplace</a> with Blazor snippets to speed up the Blazor development process. I am also the maintainer of <a href="https://altandenter.github.io/">altandenter.github.io</a> a blog about Blazor and .NET related topics
    </p>
    <p>
      When you arrived here, keep in mind you landed on a <a href="https://developers.google.com/web/progressive-web-apps/">Blazor WASM progressive web app</a> that I wrote for practising purposes. It should work offline too! :-)
    </p>
  </div>
  <div class="col-md-3 mb-3">
    
  </div>
</div>
<br>
<br>  
<br>  
<br>  