@inherits FooterBase
 <!--Footer-->
<footer class="font-small blue pt-0 footer">
    <!--Footer Links-->
    <div class="container">
        <!--First row-->
        <div class="row">
            <!--First column-->
            <div class="col-md-12 py-1">
                <div class="mb-3 flex-center">
                    <!--Facebook-->
                    <a class="fb-ic social-icon" aria-label="facebook" href="https://www.facebook.com/bart.vanhoey.5">
                        <i class="fab fa-facebook fa-2x mr-md-5 mr-3 fa-1x"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="tw-ic social-icon" aria-label="Twitter" href="https://twitter.com/bartvanhoey">
                        <i class="fab fa-twitter fa-2x mr-md-5 mr-3 fa-1x"> </i>
                    </a>
                    <!--Google +-->
                    <a class="gplus-ic social-icon" aria-label="Google-plus">
                        <i class="fab fa-google-plus fa-2x mr-md-5 mr-3 fa-1x"> </i>
                    </a>
                    <!-- GitHub-->
                    <a class="gh-ic social-icon" aria-label="GitHub" href="https://github.com/bartvanhoey/">
                        <i class="fab fa-github fa-2x mr-md-5 mr-3 fa-1x"> </i>
                    </a>
                    <!--Linkedin-->
                    <a class="li-ic social-icon" aria-label="Linkedin"
                        href="https://www.linkedin.com/in/bartvanhoey">
                        <i class="fab fa-linkedin fa-2x mr-md-5 mr-3 fa-1x"></i>
                    </a>
                </div>
            </div>
            <!--/First column-->
        </div>
        <!--/First row-->
    </div>
    <!--/Footer Links-->
    <!--Copyright-->
    <div class="my-footer-copyright py-2 text-center social-icon">
        © @CurrentYear
        <a class="social-icon" href="https://bartvanhoey.github.io/"> bartvanhoey.github.io</a>
    </div>
    <!--/Copyright-->
</footer>
<!--/Footer-->